<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544021806700-7afvrn1qqiieu9m6v263374cdtbs5fpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544021806700-7afvrn1qqiieu9m6v263374cdtbs5fpd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544021806700-pgk1n2bhqtahknpbpp2iomi26ksvqnr3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYey5rL2dutg4JeAUMJHGkOwGQXbbZrig</string>
	<key>GCM_SENDER_ID</key>
	<string>544021806700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tShop</string>
	<key>PROJECT_ID</key>
	<string>zhet-market-777</string>
	<key>STORAGE_BUCKET</key>
	<string>zhet-market-777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544021806700:ios:3bbf2c98318973a689a249</string>
</dict>
</plist>